<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta charset="UTF-8">
    <title>Aptech Hackme challenge</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <style>
        body {
            background: #b51919;
        }
        
        #main {
            position: fixed;
            top: 50%;
            left: 50%;
            /* bring your own prefixes */
            transform: translate(-50%, -50%);
            text-align: center;
            border: double thick black;
            padding: 30px;
            background: #FFF;
        }
    </style>
</head>

<body>
    <div id="main">
        <div><img src="http://aptech-news.com/sites/all/themes/aptech_news_2/logo.png" /></div>
        <div>
            <h2>@ViewBag.TieuDe</h2>
        </div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>