@{
    ViewData["TieuDe"] = "HELLO WORLD!";
}
<div>
    <div>Password được kiểm tra với lệnh sql: <span id="spSql"></span></div>
    <form action="/Home/Index/5">
        <input type="password" placeholder="Nhập password!" id='txtpassword' />
        <br />
        <input type="submit" value="Login" onclick="return Login();" />
    </form>
</div>
@section scripts {
    <script>
        function Login() {
            $.post('/Home/CheckPassword',{ password:$('#txtpassword').val()},function(data){
                $('#spSql').text(data.query);
                if(!data.success) alert("Sai mật khẩu!");
                else $('form').html('<h2 style="color:green; font-weight:bold;">Chúc mừng bạn đã hoàn thành tất cả các thử thách!</h2>');
            });
            return false;
        }
    </script>

}