@{
    ViewData["TieuDe"] = "HELLO WORLD!";
}
<div>
    <div>Tìm password đã được mã hoá và điền vào ô bên dưới!</div>
    <form action="/Home/Index/3">
        <input type="password" placeholder="Nhập password!" id='txtpassword' />
        <br />
        <input type="submit" value="Login" onclick="return Login();" />
    </form>
</div>
@section scripts {
    <script>
        function Login() {
            if($('#txtpassword').val()==window.atob('ZG9hbiB4ZW0h'))
            {
                alert('Đăng nhập thành công!');
                return true;
            }
            else
            {
                alert('Sai mật khẩu!');
                return false;
            }
        }
    </script>

}