@{
    ViewData["TieuDe"] = "HELLO WORLD!";
}
<div>
    <div>Tìm password và nhập vào ô bên dưới!</div>
    <form action="/Home/Index/1">
        <input type="password" placeholder="Nhập password!" />
        <br />
        <input type="submit" value="Login" onclick="alert('Chúc mừng bạn đã qua thử thách đầu tiên!');" />
    </form>
</div>